@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Home.</h1>
    <div class="card">
        <div class="card-header">
            Carros
        </div>
        <div class="card-body">
            <h5 class="card-title">CRUD de Carros</h5>
            <p class="card-text">Este exercicio é um CRUD com requisições da Model de Carros.</p>
            <a class="btn btn-primary" asp-controller="Carro" asp-action="Cadastrar">Cadastrar</a>
            <a class="btn btn-primary" asp-controller="Carro" asp-action="Index">Listar</a>
        </div>
    </div>
    <br/>
    <div class="card">
        <div class="card-header">
            CLIENTES
        </div>
        <div class="card-body">
            <h5 class="card-title">CRUD de CLIENTES</h5>
            <p class="card-text">Este exercicio é um CRUD com requisições da Model de Clientes.</p>
            <a class="btn btn-primary" asp-controller="Cliente" asp-action="Cadastrar">Cadastrar</a>
            <a class="btn btn-primary" asp-controller="Cliente" asp-action="Index">Listar</a>
        </div>
    </div>

</div>





