@{
	ViewData["Title"] = "Cadastro";
}

@model Carro;

<div class="text-center">
	<mensagem msg="@TempData["msg"]"></mensagem>
	<h1>Editar Cadastro de Carro</h1>
	<form asp-action="editar" class="text-start">
		<div class="row">
			<div class="col">
				<input asp-for="IdCarro"/>
				<label asp-for="Marca"></label>
				<select asp-for="Marca"
				asp-items="@ViewBag.marcas" class="form-select" on">
				<option>Selecione</option>
			</select>
			</div>
			<div class="col">
				<label asp-for="Modelo"></label>
				<input asp-for="Modelo" class="form-control" placeholder="Modelo" />
			</div>
			<div class="col">

				<label>Ano de Fabricação</label>
				<input asp-for="Ano" placeholder="Ano" class="form-control" size="50" />

			</div>
			<div class="col">

				<label>Tipo de Veiculo</label>
				<input asp-for="Tipo" placeholder="Tipo" class="form-control" />
			</div>
		</div>
		<br />
		<div class="row">
			<div class="col">
				<label>Valor</label>
				<input asp-for="Valor" type="number" placeholder="R$0,00" class="form-control" />
			</div>
			<div class="col">
			<label asp-for="Combustivel"></label>
			<select asp-for="Combustivel"
				asp-items="@Html.GetEnumSelectList<Combustivel>()" class="form-select">
				<option>Selecione</option>
			</select>
			</div>
			<div class="col">
				<br />
				<input asp-for="TetoSolar" />
				<label>Possui teto solar?</label>
			</div>
		</div>
		<br />
		<botao texto="Salvar"></botao>
		 <a asp-action="Index" class="btn btn-primary">Lista de Veiculos</a>
	</form>
</div>