@{
    ViewData["Title"] = "Editar Carro";
}

@model Carro;

<div class="text-center">
    <mensagem msg="@TempData["msg"]"></mensagem>
    <h1>Editar Cadastro de Carro</h1>
    <form asp-action="editar" class="text-start">
        <partial name="_Form" />
        <br />
        <botao texto="Salvar"></botao>
        <a asp-action="Index" class="btn btn-primary">Lista de Veiculos</a>
    </form>
</div>