@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Home</h1>
    <a asp-controller="Carro" asp-action="Cadastrar">Cadastro de Veiculos</a>
    <a asp-controller="Carro" asp-action="Index">Lista de Veiculos</a>
    <a asp-controller="Cliente" asp-action="Cadastrar">Cadastro de Clientes</a>
</div>
